<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" th:fragment="sidebar">
    <div class="app-brand demo">
        <a th:href="@{/home}" class="app-brand-link">
             <span class="app-brand-logo demo">
  <svg
          width="25"
          height="25"
          viewBox="0 0 25 25"
          xmlns="http://www.w3.org/2000/svg"
  >
    <polygon points="12.5,0 25,25 0,25" fill="#696cff" />
  </svg>
</span>


            <span class="app-brand-text demo menu-text fw-bolder ms-2">sisMatricula</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a th:href="@{/home}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <!-- Layouts -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock"></i>
                <div data-i18n="Layouts">Autentificacíon</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a th:href="@{/user/listar}" class="menu-link">
                        <div data-i18n="Without menu">Usuarios</div>
                    </a>
                </li>
            </ul>

        </li>

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Pages</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-book"></i>
                <div data-i18n="Account Settings">Curso</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a th:href="@{/curso/listar}" class="menu-link">
                        <div data-i18n="Notifications">Cursos</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/curso/nuevo}" class="menu-link">
                        <div data-i18n="Connections">Agregar Cursos</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Authentications">Estudiante</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a th:href="@{/estudiante/listar}"class="menu-link" >
                        <div data-i18n="Basic">Estudiantes</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/estudiante/nuevo}" class="menu-link" >
                        <div data-i18n="Basic">Agregar Estudiantes</div>
                    </a>
                </li>
            </ul>
        </li>
       <!-- <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Misc">Usuario</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a th:href="@{/user/listar}" class="menu-link">
                        <div data-i18n="Error">Usuarios</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/user/nuevo}" class="menu-link">
                        <div data-i18n="Under Maintenance">Agregar Usuarios</div>
                    </a>
                </li>
            </ul>
        </li> -->
        </li>
        <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-check-circle"></i>
            <div data-i18n="Authentications">Matricula</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a th:href="@{/matricula/listar}"class="menu-link" >
                    <div data-i18n="Basic">Matriculas</div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/matricula/nuevo}" class="menu-link" >
                    <div data-i18n="Basic">Agregar matriculas</div>
                </a>
            </li>
        </ul>
    </ul>
</aside>
</body>
</html>