<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/dashboard:: header">
</head>
<body>
<div class="layout-wrapper layout-content-navbar" >
    <div class="layout-container">
       <span th:replace="fragments/asider :: sidebar">
       </span>
        <div class="layout-page">
            <span th:replace="fragments/header::header"></span>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">

                    <div class="row">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="col-sm-12">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary">Actualizar Estudiante 🎉</h5>
                                            <form th:action="@{/matricula/update}" th:object="${matricula}" method="post">
                                                <input type="hidden" th:field="*{id}" />
                                                <div>
                                                    <label>Estudiante</label>
                                                    <input type="text" th:field="*{estudiante}" class="form-control" placeholder="Nombre del Estudiante">
                                                </div>
                                                <div>
                                                    <label>Curso</label>
                                                    <input type="text" th:field="*{curso}" class="form-control" placeholder="Curso">
                                                </div>
                                                <div>
                                                    <label>Grado</label>
                                                    <select th:field="*{grado}" class="form-control">
                                                        <option value="1" th:selected="${matricula.grado == 1}">1er Semestre</option>
                                                        <option value="2" th:selected="${matricula.grado == 2}">2do Semestre</option>
                                                        <option value="3" th:selected="${matricula.grado == 3}">3er Semestre</option>
                                                        <option value="4" th:selected="${matricula.grado == 4}">4to Semestre</option>
                                                        <option value="5" th:selected="${matricula.grado == 5}">5to Semestre</option>
                                                        <option value="6" th:selected="${matricula.grado == 6}">6to Semestre</option>
                                                    </select>
                                                </div>
                                                <div>
                                                    <label>Monto</label>
                                                    <input type="number" step="0.01" th:field="*{monto}" class="form-control" placeholder="Monto">
                                                </div>
                                                <button type="submit" class="btn btn-success">Actualizar</button>
                                            </form>





                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <span th:replace="fragments/footer::footer"></span>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/dashboard::script"></div>
</body>
</html>